[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
pyyaml = "*"
mkdocs = "*"
pygments = "*"
pymdown-extensions = "*"
mkdocs-material = "*"
gunicorn = "*"
django-heroku = "*"
"psycopg2-binary" = "*"
binaryornot = "*"
