[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

Django = "*"
PyYAML = "*"
django-allauth = "*"
mkdocs = "*"
Pygments = "*"
pymdown-extensions = "*"
